@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body {
    height: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.clear {
    clear: both;
}

/***** CABEÇALHO *****/

header {
    width: 100%;
    height: 90%;
    padding: 20px 2%;
    min-height: 650px;
    background-size: cover;
    background-position: center;
    background-image: url('../img/imagem-funcod.png');
    background-attachment: fixed;
    object-fit: cover;
}

/******NAVEGAÇÃO******/

header .navegacao_topo {
    float: right;
    width: 600px;
    height: 50px;
    background-color:#b6afa6a9;
    box-shadow: 0 6px 10px rgba(179, 179, 179, 0.5);
}

.navegacao_topo ul {
    display: flex;
}

.navegacao_topo li {
    list-style-type: none;
}

.navegacao_topo ul li a {
    display: block;
    width: calc(600px / 4);
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: black;
    text-decoration: none;
}

.selected {
    background-color:#706f6da9;
}

/*****IMAGEM*****/

header .imagem {
    width: 100%;
    height: 80vh;
    
} 

/*****OPACIDADE DA IMAGEM*****/

header .opacidade {
    width: 100%;
    height: 80%;
    min-height: 600px;
    background-color: #fffefe52;
}

/*****APRESENTAÇÃO NA TELA*****/
.bar {
    animation: animate 0.5s infinite linear;
}

.boas_vindas {
    max-width: 600px;
    float: right;
    margin:140px 150px;
}

.boas_vindas p {
    font-size: 30px;
    color: #000000;
    margin-top: 10px;
}

div.foto {
  width: 250px; 
  height: 250px; 
  background-image: url('../img/minhafoto.png'); 
  background-size: cover; 
  margin: 100px 140px;
  border: 1px dashed #777;
  border-radius: 50%; 
}

/*****ICONES*****/

.icones-sociais {
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: linear-gradient(to right, #2f80ed, #56ccf2);
}

.centro {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contain .icon {
    margin: 1.2em;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 10;
}

.contain .icon a {
    padding: 0.6em 0.7em;
    color: #2c2c2c;
    backdrop-filter: blur(15px);
    border-radius: 50px;
    border: 2px solid #0a0202;
    transition: color 0.4s;
}

.contain .icon a:hover {
    color: #0a0202;
} 

.contain .icon::before, .contain .icon::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    background-color: #7c8fa9;
    z-index: -1;
    transition: clip-path 0.4s;
}

.contain .icon::after {
    top: 5px;
    left: 5px;
    background-color: #455256;
}

.contain .icon::before {
    clip-path: polygon(0 0, 0 0, 0 0,0 0);
}

.contain .icon:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 0 0 50px 0;
}

.contain .icon::after {
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%,100% 100%);
}

.contain .icon:hover::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 50px 0 0 0;
}

/*****DADOS PESSOAIS*****/

/*****Tecnologias e Habilidades*****/
section.habilidades {
    width: 100%;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    text-align: center;
     padding: 20px;
    background: #b8b8ba;
}

.tecnologias h2 {
    font-size: 20px;
    
}

.rotacao {
    margin: 0;
    background: #2a2734;
    text-align: center;
    color: #fefefe;
}

.Box {
    position: relative;
    width: 100px;
    margin: 0 auto;
    perspective: 2000px;
}

.carrossel {
    position: absolute;
    width: 80%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}

.image {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
}

span {
    margin: auto;
    font-size: 1rem;
}



.image:nth-child(1) {
    background-image: url(../img/html5.png);
    transform: rotateY(0deg) translateZ(430px);
}
.image:nth-child(2) {
    background-image: url(../img/css.png);
    transform: rotateY(30deg) translateZ(430px);
}
.image:nth-child(3) {
    background-image: url(../img/js.png);
    transform: rotateY(60deg) translateZ(430px);
}
.image:nth-child(4) {
    background-image: url(../img/react.jpg);
    transform: rotateY(90deg) translateZ(430px);
}
.image:nth-child(5) {
    background-image: url(../img/jquery1.png);
    transform: rotateY(120deg) translateZ(430px);
}

section.contato h2 {
    width: 100%;
   height: 60px;
   text-align: center;
    padding: 20px;
   background: #b8b8ba;
}

section.contato h2 > .borada-efeito {
    width: 50px;
    height: 2px;
    background: #777;
    position: absolute;
    transition: 0.4s;
}

section.contato h2:hover > .borda-efeito {
    width: 100px;
}

.contato input:not([type=submit]){
    width: 50%;
    height: 40px;
    border: 1px solid #ccc;
    font-size: 15px;
    padding-left: 8px;
    display: block;
    margin: 5px 50px ;
}

.contato textarea {
    width: 50%;
    height: 120px;
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 5px 50px ;
    resize: vertical;
}

.contato input[type=submit]{
    cursor: pointer;
    font-size: 15px;
    background: #444;
    color: #ffffff;
    border: 0;
    border-radius: 30px;
    width: 100px;
    height: 33px;
    margin: 30px 50px;
    transition: 0.3s;
}

.contato input[type=submit]:hover {
    color: #ffffff;
    -webkit-box-shadow: 8px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 8px 4px 5px 0px rgba(0,0,0,0.75);

}

footer {
    width: 100%;
    padding: 10px 2%;
    text-align: center;
    color: #ffffff;
    background: #444;
}
/*****Responsividade*****/

@media screen and (max-width: 600px) {
    header {
        width: 100%;
        height: 85%;
        padding: 20px 2%;
        min-height: 700px;
        background-size: cover;
        background-position: center;
        background-image: url('../img/imagem-funcod.png');
        background-attachment: fixed;
    }

    header .navegacao_topo{
        width: 392px;
    }

    .navegacao_topo ul li a {
        width: calc(392px / 4);
    }

    .boas_vindas {
        font-size: 2px;
    }
    .boas_vindas p {
        position: relative;
        top: 30px;
        left: 50px;
        font-size: 30px;
        color: #000000;
        margin-top: 5px;
        width: 300px;
        max-width:500px;
        height: 500px;
    }

    .icones-sociais {
        height: 100%;
        display: inline-block;
        position: relative;
        top: -250px;
        left: 50px;
    }

    .contain .icon {
        margin: 1.5em;

    }

    header .opacidade {
        width: 100%;
        height: 100%;
        min-height: 700px;
        background-color: #fffefe52;
    }

    .tecnologias h1 {
        position: relative;
        left: 70px;
        top: -50px;
    }

}

@keyframes animate {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}

